*.hdf5 filter=lfs diff=lfs merge=lfs -text
Bobot[[:space:]]UJI[[:space:]]COBA[[:space:]]AUGMENTASI[[:space:]]fix[[:space:]]fold[[:space:]]ke[[:space:]]5[[:space:]].hdf5 filter=lfs diff=lfs merge=lfs -text
trainmodel.hdf5 filter=lfs diff=lfs merge=lfs -text
